<div class="bg-white p-3">
  <div>
    <div>
      <div *ngIf="currentProduct.id" class="edit-form">
        <h4>Product</h4>
        <form>
          <div class="form-group">
            <label for="title">Title</label>
            <input type="text" class="form-control" id="title" [(ngModel)]="currentProduct.title" name="title" />
          </div>
          <div class="form-group">
            <label for="description">Description</label>
            <input type="text" class="form-control" id="description" [(ngModel)]="currentProduct.description"
              name="description" />
          </div>
        </form>
        <div class="btn-div">
          <div>
            <button class="c-btn back-btn" (click)="goBack()">
              Back
            </button>
          </div>
          <div>
            <button class="c-btn del-btn mr-2" (click)="deleteProduct()">
              Delete
            </button>
            <button type="submit" class="c-btn success-btn" (click)="updateProduct()">
              Update
            </button>
          </div>
        </div>

      </div>

      <div *ngIf="!currentProduct.id">
        <br />
        <p>Product not found</p>
        <br>
        <button class="c-btn back-btn" (click)="goBack()">
          Back
        </button>
      </div>
    </div>
  </div>