.nav-bar {
    display: flex;
    justify-content: space-between;
}

#cartBtn {
    padding: 14px;
    background: #f7f7f7;
    border-radius: 10px;
    cursor: pointer;
}

#cartBtn i {
    font-size: 20px;
}

nav {
    background-color: rgb(100, 100, 240);
    color: black !important;
}

.nav-ietms {
    color: black !important;
}

#cart-div {
    position: absolute;
    top: 45px;
    right: 10px;
    width: 380px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 10px;
    background-color: white;
}

.shopping-cart {
    width: 100%;
    padding: 10px 5px;
}

.shopping-cart-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.shopping-cart-header i {
    font-size: 19px;
}

.checkout-btn-div {
    width: 100%;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.checkout-btn-div button {
    padding: 10px 15px;
    background-color: rgb(178, 117, 235);
    color: white;
    text-decoration: none;
    width: 60%;
}

#cart-div::after {
    content: "";
    position: absolute;
    top: -13px;
    right: 19px;
    width: 15px;
    height: 15px;
    background-color: white;
    border-top: 1ps solid;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}

.view-cart {
    color: rgb(67, 169, 216);
    font-size: 17px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-left: 15px;
}

.view-cart:hover {
    font-weight: 600;
    cursor: pointer;
}

.alert-info {
    width: 100%;
    padding: 10px;
}

.cart-item-div {
    width: 80%;
    display: flex;
    justify-content: space-between !important;
}

.cart-text {
    font-size: 17px;
    font-weight: 600;
    color: gray;
}

.shopping-cart-items {
    max-height: 190px;
    overflow-y: scroll;
    padding-right: 5px;
}